<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../vue学习/vue.js文件/vue.js"></script>
    <title>Document</title>
    <style>
        li {
            list-style: none;
        }
    </style>
</head>
<body>
    <div class="app">
        <ul>
            <!-- v-for="名称(自定义) in 数组名" -->
            <li v-for="item in conter">{{item}}</li>   
        </ul>
    </div>

    <script>
        let ap = new Vue({
            el: '.app',
            data: {
                conter: ['苹果', '香蕉', '桃子', '西瓜']
            }
        })
        
        ap.conter.push('芒果', '梨')    // 在数组末尾添加元素(这行可以写在浏览器)
    </script>
</body>
</html>